@{
    ViewBag.Title = "Ideal Actions";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This site consists of three areas: Tactics Journal, To Do List, and Knowledge Base.  The Tactics Journal is just a log of actions that you
                have performed that are associated with deposit or withdrawal amounts for your checking account balance. Your checking account balance is your
                "mad money" that you can use any way you want. The To Do List is where you keep track of all tasks that are in your queue or are currently
                being worked on.  The Knowledge Base is where you store information that helps you accomplish actions in the future. 

            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started with Tactics Journal</h5>
        Click on Tactics Journal link from home page.  Tactics are just actions and they are grouped together into strategies.  Start by clicking on Manage 
        Strategies and adding a Strategy for category of actions that you are trying to perform. You can rank these strategies starting with 1 being the 
        most important. After you have added a few strategies,  click on the Manage Tactics link in the Tactics Journal page to add some actions
        that you will be performing.  Each of these actions has an abstraction level.  If the action is a specific action, you specify the abstraction level
        as concrete, but if it is a general action type that you will specify a description for each time you perform it, you select abstract.  Each
        action causes either a deposit or withdrawal to your mad money checking account balance when the action is added to the tactics journal.  For example,
        doing thirty push-ups would result in a deposit to your checking account. However, move money to savings or buy clothes would result in
        a withdrawal from your checking account balance. Finally, you specify the default amount that this action will be worth. This default amount can be 
        changed when the action is added to the Tactics Journal.  The last step in the process is actually add actions to your Tactics Journal as you do them.
        <a href="http://www.idealactions.com/TacticEntry">Tactics Journal…</a>
    </li>

    <li class="two">
        <h5>To Do List</h5>
       This works just like the Tactics Journal, except here you are keeping track of what you are working on. The Strategies and Tactics that you use are 
       shared with those that you use in the Tactics Journal.
        <a href="http://www.idealactions.com/ToDoEntry">To Do List…</a>
    </li>

    <li class="three">
        <h5>Knowledge Base</h5>
        To start using the Knowledge Base, you first need to click on Manage Knowledge Base Categories to add categories to associate each knowledge base
        entry with.
        <a href="http://www.idealactions.com/KnowledgeBaseEntry">Knowledge Base…</a>
    </li>
</ol>
